services:
  db:
    image: postgres:15
    container_name: autoUniPostgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Fahrenheit451
      POSTGRES_DB: autouni
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d autouni"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5433:5432"
    networks:
      - autouni-network

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: autoUniMqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - mqtt-data:/mosquitto/data
      - mqtt-logs:/mosquitto/log
    networks:
      - autouni-network
    command: mosquitto -c /mosquitto-no-auth.conf

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: autoUniApi
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      mqtt:
        condition: service_started
    environment:
      NODE_ENV: production
      # Dentro do container, a DB é acessível pelo hostname do serviço Docker (db) e porta interna 5432
      DATABASE_URL: "postgresql://postgres:Fahrenheit451@db:5432/autouni?schema=public"
      # MQTT dentro do container usa o hostname do serviço (mqtt)
      MQTT_URL: "mqtt://mqtt:1883"
      PORT: 3000
      JWT_SECRET: eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTc2MDY0MzAxMSwiaWF0IjoxNzYwNjQzMDExfQ.5zsawq52QQZm_sWsO2nVHnMh-9GUAs0uTi1DQQMpoVQ
      ROOT_EMAIL: samuelcustodioes@gmail.com
      ROOT_PASSWORD: Fahrenheit451
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: samuelcustodioes@gmail.com
      SMTP_PASS: "zzda ifba glci rehu"
      SMTP_FROM: samuelcustodioes@gmail.com
    ports:
      - "3000:3000"
    networks:
      - autouni-network

volumes:
  pgdata:
  mqtt-data:
  mqtt-logs:

networks:
  autouni-network:
    driver: bridge